@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d3e4cd;
}

#__next {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: clip;
}

h1,
h2,
p,
a {
  color: #2a1f2d;
  letter-spacing: -0.025em;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

p,
input,
label,
button,
a {
  font-size: 1rem;
  font-weight: 500;
}

input,
button {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

p {
  opacity: 0.65;
}

input {
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 6rem;
  outline: none;
}

label {
  margin-bottom: 0.5rem;
}

button {
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #efefef;
  filter: none;
}

button:focus {
  background-color: #fff;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
